@* deleteAccount Template File *@
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import controllers.AssetsFinder

@(member : models.Member)(implicit header: RequestHeader, flash : Flash, messages : Messages)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-12", "col-md-12") }

@main(messages("delete.account.title"), Some(member)) {
    <fieldset class="col-md-6 offset-md-3">
        <legend>@messages("delete.account")</legend>
        @helper.form(action = controllers.routes.DeletePasswordController.delete) {
            @helper.CSRF.formField
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-danger btn-block">@messages("delete")</button>
                </div>
            </div>
        }
    </fieldset>
}