@* exportProfile Template File *@
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import controllers.AssetsFinder

@(member : models.Member, profileTtl : String)(implicit header: RequestHeader, flash : Flash, messages : Messages)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-12", "col-md-12") }

@main(messages("export.profile.title"), Some(member)) {
  <h1>Solid Profile</h1>
  <p id="login">
    You are not logged in.
    <button>Log in</button>
  </p>
  <p id="logout">
    You are logged in as <span id="user"></span>.
    <button>Log out</button>
  </p>
  <p>
    <label for="profile">Profile:</label>
    <input id="profile">
    <button id="view">View</button>
  </p>
  <dl id="viewer">
    <dt>Full name</dt>
    <dd id="fullName"></dd>
  </dl>

  <br/>
  <h1>Solid.VIP Profile</h1>
  <textarea rows="25" cols="50">@profileTtl</textarea>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="@routes.Assets.versioned("javascripts/solid-auth-client.bundle.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/rdflib.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/solid.js")"></script>
}
