@* navbar Template File *@
@(member : Option[models.Member])(implicit messages : Messages)

<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand" href="@routes.HomeController.index">Solid.VIP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item dropdown">
@member.map { m =>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, @m.name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@controllers.routes.ProfileBuilderController.view">@messages("profile.builder.link")</a>
                    <a class="dropdown-item" href="@controllers.routes.ChangePasswordController.view">@messages("change.password")</a>
                    <a class="dropdown-item" href="@controllers.routes.DeleteAccountController.view">@messages("delete.account")</a>
                    <a class="dropdown-item" href="@controllers.routes.SignInController.signOut">@messages("sign.out")</a>
                </div>
}.getOrElse {
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Get Started
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@routes.SignUpController.view">Register</a>
                    <a class="dropdown-item" href="@routes.SignInController.view">Sign In</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/ironhorsesoftware/solid.vip">View on GitHub</a>
                </div>
}
            </li>
        </ul>
   </div>
</nav>
