@* profileBuilder Template File *@

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.ProfileForm.Data
@import models.Profile

@(member : models.Member, socialProviders: SocialProviderRegistry, form : Form[Data], optionMap : Map[String, List[(String, String)]])(implicit request : RequestHeader, messages : Messages, flash : Flash, assets: AssetsFinder)

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-12", "col-md-12") }

@displayItem(item : (String, String)) = {
	<li>@item._1</li>
}

@displayList(list : List[(String, String)]) = {
<ul>
  @for(item <- list) {
    @displayItem(item)
  }
</ul>
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Solid.VIP - Profile Builder</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/silhouette.css")">
    </head>
    <body>
        @navbar(Some(member))

        <main class="container">
            <fieldset class="col-md-6 offset-md-3">
				<h1>Build Your Profile</h1>

@if(socialProviders.providers.nonEmpty) {
                <div class="social-providers">
                    <p>@messages("profile.builder.social")</p>
                    <div>
    @for(p <- socialProviders.providers) {
                        <a href="@controllers.routes.ProfileBuilderController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)"><img src="@assets.path(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messages(p.id)"></a>
    }
                    </div>
                </div>
}

            </fieldset>

@helper.form(action = controllers.routes.ProfileBuilderController.save) {
            @helper.CSRF.formField

			@helper.inputRadioGroup(form("Name"), options = optionMap("name"))
			<p><em>Your name can be retrieved from any of the above services.</em></p>

			@helper.inputRadioGroup(form("Picture"), options = optionMap("picture"))
            <p><em>Your photo can be retrieved from any of the above services.</em></p>

			@helper.inputRadioGroup(form("Title"), options = optionMap("title"))
            <p><em>Your title can be retrieved from either GitHub or Google.</em></p>

			@helper.inputRadioGroup(form("Summary"), options = optionMap("summary"))
			<p><em>A summary can be retrieved from either GitHub or Twitter.</em></p>

			@helper.inputRadioGroup(form("Location"), options = optionMap("location"))
			<p><em>Your location can be retrieved from either GitHub or Twitter.</em></p>

			@helper.inputRadioGroup(form("Email"), options = optionMap("email"))
			<p><em>Your e-mail can be retrieved from GitHub, Twitter, Facebook, or Google.</em></p>

			@helper.inputRadioGroup(form("Website"), options = optionMap("website"))
			<p><em>Your website can be retrieved from either GitHub or Twitter. </em></p>

			@helper.inputRadioGroup(form("TwitterUrl"), options = optionMap("twitterUrl"))
			<p><em>Your Twitter URL can be retrieved from Twitter.</em></p>

			@helper.inputRadioGroup(form("GitHubUrl"), options = optionMap("gitHubUrl"))
			<p><em>Your GitHub URL can be retrieved from GitHub.</em></p>

			@helper.inputRadioGroup(form("GitHubUsername"), options = optionMap("gitHubUsername"))
			<p><em>Your GitHub Username can be retrieved from GitHub.</em></p>

			@helper.inputCheckboxGroup(form("Projects"), options = optionMap("projects"))
			<p><em>Your projects can be retrieved from GitHub.</em></p>

			@helper.inputCheckboxGroup(form("WorkExperience"), options = optionMap("workExperience"))
			<p><em>Your work history can be retrieved from Google.</em></p>
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("update.profile")</button>
                </div>
            </div>
}
        </main>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>