@import models.{Profile, Project, WorkExperience}

@(profile: models.Profile)(implicit header: RequestHeader, flash : Flash, messages : Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@profile.name</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@profile.name Profile Page">

        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- github calendar css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/github-calendar/dist/github-calendar.css")">

        <!-- github acitivity css -->    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/github-activity/github-activity-0.1.5.min.css")">

        <!-- FontAwesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    
        <!-- Theme CSS -->  
        <link id="theme-style" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/profile.css")">
    </head>
    <body>
		<script type="application/ld+json">
		@profile.toJsonLd
		</script>

        @profileHeader(profile.name, profile.title, profile.picture, profile.twitterUrl, profile.gitHubUrl)
        <div class="container sections-wrapper">
            <div class="row">
                <div class="primary col-lg-8 col-12">
                    @about(profile.summary)

@if(!profile.projects.filter(project => project.isContributedTo).isEmpty) {

                    <section class="latest section">
                        <div class="section-inner">
                            <h2 class="heading">Contributions</h2>
                            <div class="content">
    @for(item <- profile.projects.filter(project => project.isContributedTo).sortWith(_.title < _.title)) {
                                <div class="item row">
        @item.thumbnail.map { src =>
                                    <a class="col-md-4 col-12" href="@item.link" target="_blank">
                                        <img class="img-fluid project-image" src="@src" alt="@item.title" />
                                    </a>
        }
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="@item.link" target="_blank">@item.title</a></h3>
                                        <p class="mb-2">@item.description</p>
                                        <p><a class="more-link" href="@item.link" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->                          
                                </div><!--//item-->
    }
                            </div>
                        </div>
                    </section>
}
@if(!profile.projects.filter(project => !project.isContributedTo).isEmpty) {
                    <section class="projects section">
                        <div class="section-inner">
                            <h2 class="heading">Projects</h2>
                            <div class="content">
    @for(item <- profile.projects.filter(project => !project.isContributedTo).sortWith(_.title < _.title)) {
                                <div class="item">
                                    <h3 class="title"><a href="@item.link" target="_blank">@item.title</a></h3>
                                    <p class="summary">@item.description</p>
                                    <p><a class="more-link" href="@item.link" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//item-->
    }
    @profile.gitHubUrl.map { url =>
                                <a class="btn btn-cta-secondary" href="@url">More on GitHub <i class="fas fa-chevron-right"></i></a>
    }
                            </div>
                        </div>
                    </section>
}
@if(!profile.workExperience.isEmpty) {
                    <section class="experience section">
                        <div class="section-inner">
                            <h2 class="heading">Work Experience</h2>
                            <div class="content">
    @for(item <- profile.workExperience.sorted) {
                                <div class="item">
                                    <h3 class="title">@item.company - <span class="place">@item.company</span> <span class="year">(@item.startDate - @item.endDate.getOrElse("Present"))</span></h3>
        @item.description.map { desc =>
                                    <p>@desc</p>
        }
                                </div><!--//item-->
    }
                            </div><!--//content-->  
                        </div><!--//section-inner-->                 
                    </section><!--//section-->
}
@profile.gitHubUsername.map { ghu =>
                    <section class="github section">
                        <div class="section-inner">
                            <h2 class="heading">GitHub</h2>
                            <p>Here is a graph of my recent GitHub contributions: 
                            <div id="github-graph" class="github-graph">

                            </div><!--//github-graph-->

                            <p>This is my recent activity stream:        
                            <div id="ghfeed" class="ghfeed">
                            </div><!--//ghfeed-->
                        </div><!--//secton-inner-->
                    </section><!--//section-->
}
                </div>
                <div class="secondary col-lg-4 col-12">
@if(profile.location.isDefined || profile.email.isDefined || profile.website.isDefined) {
                    <aside class="info aside section">
                        <div class="section-inner">
                            <h2 class="heading sr-only">Basic Information</h2>
                            <div class="content">
                                <ul class="list-unstyled">
@profile.location.map { location =>
                                    <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location: </span>@location</li>
}
@profile.email.map { email =>
                                    <li><i class="fas fa-envelope"></i><span class="sr-only">Email: </span><a href="mailto:@email">@email</a></li>
}
@profile.website.map { website =>
                                    <li><i class="fas fa-link"></i><span class="sr-only">Website: </span><a href="@website">@website</a></li>
}
                                </ul>
                            </div><!--//content-->  
                        </div><!--//section-inner-->
                    </aside><!--//aside-->
}
                </div><!--//secondary-->
            </div><!--//row-->
        </div>

        <!-- ******FOOTER****** --> 
        <footer class="footer">
            <div class="container text-center">
                    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out our commercial license options via our website: themes.3rdwavemedia.com */-->
                    <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
            </div><!--//container-->
        </footer><!--//footer-->

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/popper.min.js")"></script> 
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
        <!-- github calendar plugin -->
        <script type="text/javascript" src="@routes.Assets.versioned("lib/github-calendar/dist/github-calendar.min.js")"></script>
        <!-- github activity plugin -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/github-activity/github-activity-0.1.5.min.js")"></script>
        <!-- custom js -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/profile.js")"></script>            

@profile.gitHubUsername.map { ghu =>
		<script type="text/javascript">
		/* Github Calendar - https://github.com/IonicaBizau/github-calendar */
	    new GitHubCalendar("#github-graph", "@ghu");

	    /* Github Activity Feed - https://github.com/caseyscarborough/github-activity */
	    GitHubActivity.feed({ username: "@ghu", selector: "#ghfeed" });
		</script>
}
    </body>
</html>